.hee2{
    background-color: rgb(4, 32, 69);
    /* background: url(Home_img.jpg)no-repeat;
    background-size: cover; */
}
.navbar-brand {
    padding: 20px;
    color: white;
    font-size: 30px;
    font-style: italic;
}
.nav-link {
    margin-top: 10px;
    margin-left: 70px;
    color: white;
    font-size: 20px;
}


.cc1{
    width: 100%;
    height: 200vh;
}
.ce1{
    position: relative;
}
.hh1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aqua;
    font-size: 50px;
    font-style: italic;
    text-decoration-line: dashed;
}
span{
    color: wheat;
    font-size: 20px;
}

.gallery {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .image-card {
    margin: 15px;
    width: calc(33.33% - 40px);
  }
  
  .image-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .image-text {
    margin-top: 10px;
    text-align: justify;
    color: wheat;
  }
  
  .image-text h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .image-text p {
    font-size: 14px;
  }

  .image-card-1 {
    padding-top: 30px;
    margin: 20px;
    width: calc(33.33% - 40px);
  }
  
  .image-card-1 img {
    width: 100%;
    height: 490px;
    object-fit: cover;
    border-radius: 10px;
  }
  

